<!doctype html>
<html lang="ja">

<head>
    <title>ランダムにグループ分け</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    <!-- /* Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/validators.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
    <!-- Vue.js */ -->
</head>

<body class="margin-side">
    <h1 class="container mt-3">ランダムにグループ分け</h1>
    <p class="container">交流会などで複数回グループ分けを行う際に、なるべく重複がないようにランダムにグループ分けをします。</p>
    <main class="container mt-3">
        <div id="inputForm">
            <form @submit.prevent="submitForm">
                <div class="form-group">
                    <label for="allParticipants">参加人数</label>
                    <input type="number" class="form-control w-25" id="allParticipants" v-model="allParticipants"
                        @blur="$v.allParticipants.$touch()"
                        :class="{error:$v.allParticipants.$error, 'form-control':true}">
                    <div v-if="$v.allParticipants.$error">
                        <span class="text-danger" v-if="!$v.allParticipants.required">入力されていません。</span>
                        <span class="text-danger" v-if="!$v.allParticipants.maxLength">4桁以上は入力できません。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="participantsInEachGroup">1グループ毎の人数</label>
                    <input type="number" class="form-control w-25" id="participantsInEachGroup"
                        v-model="participantsInEachGroup" @blur="$v.participantsInEachGroup.$touch()"
                        :class="{error:$v.participantsInEachGroup.$error, 'form-control':true}">
                    <div v-if="$v.participantsInEachGroup.$error">
                        <span class="text-danger" v-if="!$v.participantsInEachGroup.required">入力されていません。</span>
                        <span class="text-danger" v-if="!$v.participantsInEachGroup.maxLength">4桁以上は入力できません。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeatCnt">グループ分けの回数</label>
                    <input type="number" class="form-control w-25" id="repeatCnt" v-model="repeatCnt"
                        @blur="$v.repeatCnt.$touch()" :class="{error:$v.repeatCnt.$error, 'form-control':true}">
                    <div v-if="$v.repeatCnt.$error">
                        <span class="text-danger" v-if="!$v.repeatCnt.required">入力されていません。</span>
                        <span class="text-danger" v-if="!$v.repeatCnt.maxLength">3桁以上は入力できません。</span>
                    </div>
                </div>
                <div>
                    <p><button type="button" class="btn btn-primary rounded-circle p-0" id="detail-setting-btn"
                            data-toggle="collapse" data-target="#detail-setting" aria-expanded="false"
                            aria-controls="detail-setting" style="width:2rem;height:2rem;">
                            ＋
                        </button> <label for="detail-setting-btn">詳細設定</label></p>
                    <div class="collapse" id="detail-setting">
                        <div class="form-group">
                            <label for="trials">試行回数</label>
                            <input type="number" class="form-control w-25" id="trials" v-model="trials"
                                @blur="$v.trials.$touch()" :class="{error:$v.trials.$error, 'form-control':true}">
                            <div>
                                <span>試行回数分だけランダムにグループ分けを作成し、一番重複が少ないグループ分けを結果に表示します。</span><br>
                                <span>試行回数分が多いほどより重複が少ないグループ分け結果を得られる分時間がかかります。</span>
                            </div>
                            <div v-if="$v.trials.$error">
                                <span class="text-danger" v-if="!$v.trials.required">入力されていません。</span>
                                <span class="text-danger" v-if="!$v.trials.maxLength">7桁以上は入力できません。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="names">参加者の名前（任意）</label>
                            <textarea class="form-control" id="names" v-model="names" @blur="$v.names.$touch()"
                                :class="{error:$v.names.$error, 'form-control':true}"></textarea>
                            <div>
                                <span :class="{'text-danger':$v.names.$error}">参加者の名前を","（カンマ）区切りで参加人数分入力してください。</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">グループ分け</button>
            </form>
        </div>

        <div id="result" class="mt-5">
            <h2>グループ分け結果</h2>
            <div v-for="(combination, index) in simulationResult.participantCombinations" class="mt-2">
                <span class="lead">{{ index + 1 }}回目</span>
                <table class="table table-bordered mt-1">
                    <tr v-for="(group, index) in combination">
                        <td class="w-25">グループ{{ index + 1 }}</td>
                        <td v-for="val in group">{{ val }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <!-- /* bootstrap4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- bootstrap4 */ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>